<style>
  .borde-azul-redondeado {
    border: 2px solid darkblue;
    border-radius: 10px;

}

.modal {
  display: block; /* Visible siempre */
  position: fixed; /* Fijo en la pantalla */
  z-index: 1050; /* Encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho total */
  height: 100%; /* Alto total */
  overflow: auto; /* Habilitar desplazamiento si es necesario */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal-dialog {
  max-width: 800px; /* Ancho máximo del modal */
  margin: 30px auto; /* Centrado con un margen superior e inferior */
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #dee2e6; /* Borde más suave */
  border-radius: 0.3rem; /* Bordes redondeados */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
}

.modal-header {
  border-bottom: 1px solid #dee2e6; /* Borde más suave para el encabezado */
  padding: 1rem; /* Más espacio interior */
}

.modal-body {
  padding: 1rem; /* Más espacio interior */
}

.modal-footer {
  border-top: 1px solid #dee2e6; /* Borde más suave para el pie de página */
  padding: 1rem; /* Más espacio interior */
}

.close {
  color: #000;
  text-shadow: none; /* Remover sombra de texto para claridad */
  opacity: 1; /* Hacerlo totalmente opaco */
}

.close:hover,
.close:focus {
  color: #000;
  opacity: 0.75; /* Ligeramente transparente al pasar el mouse o enfocar */
}


</style>

<section class="container mt-3">
  <h2>Expediente</h2>
  <br>
  <div class="row">
    <!-- Columna Izquierda: Formulario de Expedientes -->
    <div class="col-md-4 borde-azul-redondeado">
      <h4>Crear expediente</h4>
      <form [formGroup]="expedienteForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="codigo">Código:</label>
          <input type="text" class="form-control" id="codigo" formControlName="codigo">
        </div>
        <div class="form-group">
          <label for="fecha">Fecha:</label>
          <input type="date" class="form-control" id="fecha" formControlName="fecha">
        </div>
        <div class="form-group">
          <label for="estado">Estado:</label>
          <select class="form-control" id="estado" formControlName="estado">
            <option value="Pendiente">Pendiente</option>
            <option value="Enviado">Enviado</option>
            <option value="Erróneo">Erróneo</option>
          </select>
        </div>
        <div class="form-group">
          <label for="opciones">Opciones:</label>
          <input type="text" class="form-control" id="opciones" formControlName="opciones">
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
        </div>
        <div class="form-group">
          <label for="tipo">Tipo:</label>
          <input type="number" class="form-control" id="tipo" formControlName="tipo">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="activo" formControlName="activo">
          <label class="form-check-label" for="activo">Activo</label>
        </div>
        <div class="form-group">
          <label for="descripcionActuacion">Descripción de la Actuación:</label>
          <input type="text" class="form-control" id="descripcionActuacion" formControlName="descripcionActuacion">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="finalizadoActuacion" formControlName="finalizadoActuacion">
          <label class="form-check-label" for="finalizadoActuacion">Finalizado Actuación</label>
        </div>
        <div class="form-group">
          <label for="fechaActuacion">Fecha de Actuación:</label>
          <input type="date" class="form-control" id="fechaActuacion" formControlName="fechaActuacion">
        </div>
        <div class="form-group">
          <label for="rutaDocumento">Ruta del Documento:</label>
          <input type="text" class="form-control" id="rutaDocumento" formControlName="rutaDocumento">
        </div>
        <div class="form-group">
          <label for="tasaDocumento">Tasa del Documento:</label>
          <input type="number" class="form-control" id="tasaDocumento" formControlName="tasaDocumento">
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Crear Expediente</button>
      </form>
      <br>
    </div>

    <!-- Columna Derecha: Búsqueda de Expedientes y Componentes de Gestión -->
    <div class="col-md-8">
      <form [formGroup]="busquedaForm" (ngSubmit)="buscarExpediente()">
        <div class="form-group">
          <label for="codigo">Búsqueda de expediente por código</label>
          <input type="text" id="codigo" class="form-control" formControlName="codigo" placeholder="Ingrese el código">
        </div>

        <button type="submit" class="btn btn-primary mt-2 ms-2">Buscar</button>
      </form>

      <section>
        <br>
      <button class="btn btn-secondary mt-2 ms-2" (click)="consultarExpedientes()">
        Refrescar Expedientes
      </button>

      <button class="btn btn-primary mt-2 ms-2" (click)="abrirModal()">Actualizar Expediente</button>

<!-- Botón para abrir el modal -->


<!-- Modal -->
<div class="modal" *ngIf="mostrarModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actualizar Expediente</h5>


      </div>
      <div class="modal-body">
        <app-actualizar-expediente></app-actualizar-expediente>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

      <div *ngIf="expedientes.length > 0" class="mt-3 table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Código</th>
              <th>Fecha</th>
              <th>Estado</th>
              <th>Opciones</th>
              <th>Descripción</th>
              <th>Tipo</th>
              <th>Activo</th>
              <th>Finalizado Actuación</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let expediente of expedientes">
              <td>{{ expediente.id }}</td>
              <td>{{ expediente.codigo }}</td>
              <td>{{ expediente.fecha | date }}</td>
              <td>{{ expediente.estado }}</td>
              <td>{{ expediente.opciones }}</td>
              <td>{{ expediente.descripcion }}</td>
              <td>{{ expediente.tipo }}</td>
              <td>{{ expediente.activo ? 'Sí' : 'No' }}</td>
              <td>{{ expediente.finalizadoActuacion ? 'Sí' : 'No' }}</td>
              <td>
                <button class="btn btn-danger" (click)="borrarLogico(expediente.id)">
                  Borrar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    </div>
  </div>
</section>
